site_name: HedgeDocs
site_url: https://hedgedocs.github.io/
repo_url: https://github.com/hedgedocs/hedgedocs.github.io
edit_uri: edit/main/docs/
site_description: Sonic the Hedgehog modding guides and tools
nav:
  - Home: index.md
  - Tools:
    - tools/index.md
    - Various Engines:
      - File Formats: tools/general/files.md
      - Audio: tools/general/audio.md
    - Hedgehog Engine:
      - Common:
        - File Formats: tools/hedgehog-engine/common/files.md
        - Lighting/GI: tools/hedgehog-engine/common/lighting.md
        - Models: tools/hedgehog-engine/common/models.md
        - Text: tools/hedgehog-engine/common/text.md
      - Sonic Generations:
        - File Formats: 
          - XNCP: tools/hedgehog-engine/blueblur/files/xncp.md
          - GTE/GTM: tools/hedgehog-engine/blueblur/files/gte.md
          - AR/ARL: tools/hedgehog-engine/blueblur/files/ar.md
        - Level Editing: tools/hedgehog-engine/blueblur/levels.md
      - Sonic Lost World:
        - Level Editing: tools/hedgehog-engine/sonic2013/levels.md
      - Sonic Frontiers:
        - File Formats: 
          - RFL: tools/hedgehog-engine/rangers/files/rfl.md
        - Models: tools/hedgehog-engine/rangers/models.md
    - Renderware:
      - Common: 
        - File Formats:
          - ONE: tools/renderware/common/files/one.md
        - Level Editing: tools/renderware/common/levels.md
    - Other Engines:
      - Sonic Colors:
        - File Formats: 
          - XNCP: tools/others/sonic2010/files/xncp.md
        - Level Editing: tools/others/sonic2010/levels.md
      - Sonic The Hedgehog (2006):
        - File Formats: tools/others/marathon/files.md
        - Level Editing: tools/others/marathon/levels.md
  - Guides:
    - guides/index.md
    - Hedgehog Engine:
      - Sonic Generations: 
        - File Formats:
          - XNCP: 
            - Basics: guides/hedgehog-engine/blueblur/files/xncp/basics.md
            - Animations: guides/hedgehog-engine/blueblur/files/xncp/anims.md
        - Level Editing:
          - Sonic GLvl: guides/hedgehog-engine/blueblur/levels/glvl.md
      - Sonic Frontiers:
        - Audio:
          - Replacing Audio: guides/hedgehog-engine/rangers/audio/replacing.md
    - Other Engines:
      - Sonic The Hedgehog (2006):
        - Level Editing:
          - Sonic GLvl: guides/others/marathon/levels/glvl.md
  - Documentation:
    - docs/index.md
    - Hedgehog Engine:
      - Sonic Frontiers:
        - Enemies:
          - Guardians:
            - Internal Names: docs/hedgehog-engine/rangers/enemies/guardians/names.md
        - Events:
          - Event ID Map: docs/hedgehog-engine/rangers/events/ids.md
        - File Formats:
          - RFL:
            - RFL Binary Template Map: docs/hedgehog-engine/rangers/files/rfl/mapping.md
        - Levels:
          - Level ID Map: docs/hedgehog-engine/rangers/levels/ids.md
        - Scripts:
          - Functions: docs/hedgehog-engine/rangers/scripts/funcs.md
  - Discoveries:
    - discoveries/index.md
    - Sonic Unleashed:
      - PlayStation 3:
        - Leftover Install Assets: discoveries/swa/ps3/install.md
    - Sonic Generations:
      - HUD:
        - Unused Time Eater Gauge: discoveries/blueblur/hud/blb_gauge.md
    - Sonic Lost World:
      - Levels:
        - Colors Leftovers: discoveries/sonic2013/levels/colors.md
        - Test Levels: discoveries/sonic2013/levels/test.md
        - Deleted Levels: discoveries/sonic2013/levels/deleted.md
        - Original Level Order: discoveries/sonic2013/levels/original-order.md
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - toc:
      permalink: true
extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - assets/javascripts/custom.js
plugins:
  - search
  - git-committers:
      enabled: !ENV [ENABLE_GIT_PLUGINS, False]
      repository: HedgeDocs/HedgeDocs.github.io
      branch: main
      exclude: 
        - index.md
        - tools/*
        - guides/index.md
        - discoveries/index.md
  - git-revision-date-localized:
      enabled: !ENV [ENABLE_GIT_PLUGINS, False]
      type: timeago
      exclude:
        - index.md
        - tools/*
        - guides/index.md
        - discoveries/index.md
theme:
  logo: assets/images/icon.svg
  favicon: assets/images/favicon.png
  name: material
  custom_dir: overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - navigation.sections
  icon:
    edit: material/file-edit-outline
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to AMOLED mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: amoled
      toggle:
        icon: material/brightness-2
        name: Switch to light mode
