site_name: HedgeDocs
site_url: https://hedgedocs.github.io/
github_repo: https://github.com/hedgedocs/hedgedocs.github.io
site_description: Sonic the Hedgehog modding guides and tools
nav:
  - Home: index.md
  - Tools:
    - tools/index.md
    - Hedgehog Engine:
      - Common:
        - File Formats: tools/hedgehog-engine/common/files.md
        - Lighting/GI: tools/hedgehog-engine/common/lighting.md
      - Sonic Generations:
        - File Formats: 
          - XNCP: tools/hedgehog-engine/blueblur/files/xncp.md
          - GTE/GTM: tools/hedgehog-engine/blueblur/files/gte.md
          - AR/ARL: tools/hedgehog-engine/blueblur/files/ar.md
        - Audio: tools/hedgehog-engine/blueblur/audio.md
        - Level Editing: tools/hedgehog-engine/blueblur/levels.md
      - Sonic Lost World:
        - Level Editing: tools/hedgehog-engine/lostworld/levels.md
    - Hedgehog Engine 2:
      - Sonic Forces:
        - File Formats: 
          - PAC: tools/hedgehog-engine-2/wars/files/pac.md
    - Other Engines:
      - Sonic Colors:
        - File Formats: tools/others/colors/files.md
      - Sonic The Hedgehog (2006):
        - File Formats: tools/others/marathon/files.md
      - Sonic Heros / Shadow The Hedgehog: 
        - File Formats:
          - ONE: tools/others/heros/files/one.md
        - Level Editing: tools/others/heros/levels.md
  - Guides:
    - guides/index.md
    - Hedgehog Engine:
      - Common:
        - Lighting/GI:
          - Example Guide: guides/hedgehog-engine/common/lighting/example.md
      - Sonic Generations: 
        - File Formats:
          - XNCP: 
            - Animations: guides/hedgehog-engine/blueblur/files/xncp/anims.md
        - Level Editing:
          - Sonic GLvl: guides/hedgehog-engine/blueblur/levels/glvl.md
    - Other Engines:
      - Sonic The Hedgehog (2006):
        - Level Editing:
          - Sonic GLvl: guides/others/marathon/levels/glvl.md
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
extra_css:
  - stylesheets/extra.css
plugins:
  - search
  - git-revision-date-localized:
      type: timeago
      exclude:
        - index.md
        - tools/*
        - guides/index.md
theme:
  logo: assets/icon.svg
  favicon: assets/favicon.png
  name: material
  custom_dir: overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - navigation.sections
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to AMOLED mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: amoled
      toggle:
        icon: material/brightness-2
        name: Switch to light mode