[data-md-color-scheme='ultradark'] {
    --md-hue: 232;
    --md-default-fg-color: #d8d8d8;
    --md-default-fg-color--light: #e6e6e6;
    --md-default-fg-color--lighter: #efefef;
    --md-default-fg-color--lightest: #303030;
    --md-default-bg-color: var(--ultradark-background-color);
    --background-color: var(--ultradark-background);
    --md-primary-fg-color: #820000;
    --md-primary-fg-color--light: #75b6e7;
    --md-admonition-bg-color: #0f0f0f;
    --md-typeset-table-color: #303030;
    --md-code-fg-color: #d8d8d8;
    --md-code-bg-color: #151515;
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--ultradark-accent-color-brighter);
    --md-accent-fg-color: var(--ultradark-alternate-bg-color);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --ultradark-background-color: #000000;
    --ultradark-header-color: #820000;
    --ultradark-background: #000000;
    --ultradark-alternate-fg-color: #f2f8f8;
    --ultradark-alternate-bg-color: #500000;
    --ultradark-fg-color-hover: #f4f975;
    --ultradark-accent-color-brighter: #e90000;
    --ultradark-anchor-link-color: #0074ff;
}

[data-md-color-scheme='ultradark'] .md-banner {
    background-color: #cbcbcb;
    color: #000000;
}

[data-md-color-scheme='ultradark'] .contributor {
    color: var(--md-default-fg-color);
    word-break: break-word;
}

[data-md-color-scheme='ultradark'] .md-typeset hr {
    border-bottom: .05rem solid var(--md-default-fg-color--lighter);
    display: flow-root;
    margin: 1.5em 0;
}

[data-md-color-scheme='ultradark'] .md-typeset a {
    color: var(--ultradark-anchor-link-color);
}

[data-md-color-scheme='ultradark'] .md-typeset .md-button--primary {
    color: var(--md-primary-bg-color) !important;
}

[data-md-color-scheme='ultradark'] a.contributor:hover {
    color: var(--md-default-fg-color--lighter);
}

[data-md-color-scheme='ultradark'] .md-nav__link:is(:focus,:hover) {
    color: var(--md-default-fg-color--lighter);
}

[data-md-color-scheme='ultradark'] th {
    background-color: var(--md-primary-fg-color);
    color: var(--ultradark-alternate-fg-color);
}

[data-md-color-scheme='ultradark'] tr {
    background-color: var(--md-admonition-bg-color);
}



@media screen and (min-width: 76.25em) {
    [data-md-color-scheme='ultradark'] .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
        background: var(--ultradark-header-color);
        color: var(--ultradark-alternate-fg-color) !important;
        box-shadow: 0 0 0 0;
        border-left: 0px;
        transition: 125ms;
    }
    [data-md-color-scheme='ultradark'] .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link:is(:focus,:hover) {
        background: var(--ultradark-alternate-bg-color);
        color: var(--ultradark-fg-color-hover);
    }
    [data-md-color-scheme='ultradark'] main>div>div.md-sidebar.md-sidebar--primary>div>div>nav>ul>li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested>div>a {
        color: var(--ultradark-alternate-fg-color) !important;
        padding: 5px 5px 5px 10px;
    }
    [data-md-color-scheme='ultradark'] main>div>div.md-sidebar.md-sidebar--primary>div>div>nav>ul>li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested>div>a:is(:focus,:hover) {
        color: var(--ultradark-alternate-fg-color) !important;
    }
}

@media screen and (min-width: 60em) {
    [data-md-color-scheme='ultradark'] .md-nav--secondary .md-nav__title {
        background: var(--ultradark-header-color);
        color: var(--ultradark-alternate-fg-color);
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 0 0 0;
    }
}

[data-md-color-scheme='ultradark'] .md-search__form:hover {
    background-color: hsla(0,0%,10%,.12);
}

@media screen and (max-width: 76.1875em) {
    [data-md-color-scheme='ultradark'] .md-nav--primary .md-nav__link {
        margin-top: 0;
        font-weight: bold;
        opacity: 75%;
    }
    
    [data-md-color-scheme='ultradark'] .md-nav__item .md-nav__link--active .md-nav__container {
        border-left: none !important;
        padding-left: 0 !important;
    }

    [data-md-color-scheme='ultradark'] .md-nav--primary .md-nav__item--active>.md-nav__link {
        color: var(--md-typeset-a-color);
        border-left: 5px solid;
        opacity: 100%;
    }
}

[data-md-color-scheme='ultradark'] .md-sidebar__scrollwrap:focus-within, .md-sidebar__scrollwrap {
    scrollbar-color: var(--ultradark-header-color) #00000000;
    transition: 0.15s;
}

[data-md-color-scheme='ultradark'] .md-typeset pre>code {
    scrollbar-color: var(--ultradark-header-color) #00000000;
    transition: 0.15s;
}
[data-md-color-scheme='ultradark'] .md-typeset pre>code:hover {
    scrollbar-color: var(--md-accent-fg-color) #00000000;
}

[data-md-color-scheme='ultradark'] .md-search__form {
    border-radius: 0;
}

[data-md-color-scheme='ultradark'] .md-search__input {
    color: var(--md-default-fg-color--lighter);
    font-size: .8rem;
}

[data-md-color-scheme='ultradark'] .md-search-result mark {
    color: var(--ultradark-accent-color-brighter);
}

[data-md-color-scheme='ultradark'] .md-tabs {
    background-color: var(--ultradark-header-color);
    color: var(--ultradark-alternate-fg-color);
    font-weight: bold;
}

[data-md-color-scheme='ultradark'] .md-tabs__item--active .md-tabs__link {
    color: var(--ultradark-fg-color-hover);
    background-color: var(--ultradark-alternate-bg-color);
    text-align: center;
    padding-bottom: 0.7rem;
}

@media screen and (min-width: 76.1875em) {
    [data-md-color-scheme='ultradark'] .md-nav__item .md-nav__link--active:not(label) {
        color:  var(--ultradark-accent-color-brighter);
        border-left: .25em solid;
        padding-left: .5em;
    }
}

[data-md-color-scheme='ultradark'] .md-logo {
    filter: invert(4.8%)
}

[data-md-color-scheme='ultradark'] a.md-tabs__link.md-tabs__link--active {
    color: var(--ultradark-alternate-bg-color);
}

[data-md-color-scheme='ultradark'] a.md-tabs__link.md-tabs__link--active:after {
    color: var(--ultradark-alternate-bg-color);
}

[data-md-color-scheme='ultradark'] .md-tabs__link:hover {
    background-color: var(--ultradark-alternate-bg-color);
    color: var(--ultradark-fg-color-hover);
    text-align: center;
    padding-bottom: 0.7rem;
    transition: background-color 0.1s, color 0.1s;
}

[data-md-color-scheme='ultradark'] .md-tabs__link--active:hover {
    background-color: var(--ultradark-alternate-bg-color);
    color: var(--ultradark-fg-color-hover);
    text-align: center;
    animation: none;
}

[data-md-color-scheme='ultradark'] .md-tabs__item--active .md-tabs__link--active {
    color: inherit;
    background-color: #4ea5cf;
    padding-bottom: .7rem;
}

[data-md-color-scheme='ultradark'] .md-tabs__item--active .md-tabs__link--active:hover {
    color: inherit;
    background-color: var(--ultradark-alternate-bg-color);
    padding-bottom: .7rem;
}


[data-md-color-scheme='ultradark'] .md-tabs__link {
    opacity: 1;
    outline-color: var(--md-accent-fg-color);
    outline-offset: 0.2rem;
    line-height: 0.8rem;
    border-bottom: 0px transparent;
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0s, border-bottom 0.25s ease;
}

[data-md-color-scheme='ultradark'] .md-tabs__link.md-tabs__link--active:hover {
    background-color: #00000000 !important;
    color: var(--ultradark-alternate-bg-color);
}

[data-md-color-scheme='ultradark'] .md-tabs__item.md-tabs__item--active:hover {
    color: var(--ultradark-fg-color-hover);
    background-color: #00000000 !important;
}

[data-md-color-scheme='ultradark'] .md-tabs__link:after {
    border-bottom: 0px var(--ultradark-alternate-bg-color);
    transform: scaleX(1);
}

[data-md-color-scheme='ultradark'] .md-header {
    background-color: var(--ultradark-header-color);
    color: var(--ultradark-alternate-fg-color);
    font-weight: bold;
}

[data-md-color-scheme='ultradark'] .md-typeset .md-button {
    border-radius: 0rem;
}

[data-md-color-scheme='ultradark'] .md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code:hover {
    color: var(--md-typeset-a-color);
}

/* EXTERNAL LINKS IN SIDEBAR */

[data-md-color-scheme='ultradark'] a[href^="htt"].md-nav__link::before {
    opacity: 75%;
    filter: invert(75%);
}

@media screen and (max-width: 76.1875em) { 
    [data-md-color-scheme='ultradark'] a[href^="htt"].md-nav__link::before {
        opacity: 100%;
        filter: invert(75%);
    }
}

/*
DISABLED FOR ALIGNMENT PURPOSES

[data-md-color-scheme='ultradark'] .md-typeset .md-button {
    border: 0px;
    border-bottom: .15rem solid;
    border-color: var(--md-primary-fg-color);
    border-radius: 0rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: .625em 2em;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

[data-md-color-scheme='ultradark'] .md-typeset .md-button:is(:focus,:hover) {
    background-color: var(--md-primary-fg-color);
    border-color: var(--ultradark-alternate-bg-color);
    color: var(--md-accent-bg-color);
}
[data-md-color-scheme='ultradark'] .md-typeset .md-button:-webkit-any(:focus,:hover) {
    background-color: var(--md-primary-fg-color);
    border-color: var(--ultradark-alternate-bg-color);
    color: var(--md-accent-bg-color);
}
*/