
[data-md-color-scheme='slate'] {
    --md-default-fg-color: #d2d2d2;
    --md-default-fg-color--light: #e0e6e6;
    --md-default-fg-color--lighter: #e6e6e6;
    --md-default-bg-color: #151515;
    --background-color: var(--md-default-bg-color);
    --md-primary-fg-color: #2162ec;
    --md-primary-fg-color--light: #75b6e7;
    --md-typeset-color: var(--md-default-fg-color);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
}

[data-md-color-scheme='slate'] th {
    background-color: #202020;
}

[data-md-color-scheme='slate'] .md-typeset table:not([class]) tbody tr:hover {
    background-color: rgba(255, 255, 255, .035);
    box-shadow: 0 .05rem 0 var(--md-default-bg-color) inset;
}

/* EXTERNAL LINKS IN SIDEBAR */

[data-md-color-scheme='slate'] a[href^="htt"].md-nav__link::before {
    opacity: 75%;
    filter: invert(100%);
}