[data-md-color-scheme='slate'] {
    --md-default-fg-color: #d2d2d2;
    --md-default-fg-color--light: #e0e6e6;
    --md-default-fg-color--lighter: #e6e6e6;
    --md-default-bg-color: #151515;
    --md-primary-fg-color: #2162ec;
    --md-primary-fg-color--light: #75b6e7;
    --md-typeset-color: var(--md-default-fg-color);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
}

[data-md-color-scheme='amoled'] {
    --md-hue: 232;
    --md-default-fg-color: #d8d8d8;
    --md-default-fg-color--light: #e6e6e6;
    --md-default-fg-color--lighter: #efefef;
    --md-default-fg-color--lightest: #505050;
    --md-default-bg-color: #000000;
    --md-primary-fg-color: #2f6ff8;
    --md-primary-fg-color--light: #75b6e7;
    --md-admonition-bg-color: #0f0f0f;
    --md-typeset-table-color: #404040;
    --md-code-fg-color: #d8d8d8;
    --md-code-bg-color: #151515;
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: #2162ec;
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
}

.md-typeset p {
    font-size: 16px;
}

.md-typeset li {
    font-size: 16px;
}

.md-typeset code {
    font-size: 15px;
}

.md-banner {
    background-color: #b71c1c;
}

/* TABS */

.md-tabs__link {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    font-size: 0.7rem;
    margin-top: 0.8rem;
    opacity: 0.7;
    outline-color: var(--md-accent-fg-color);
    outline-offset: 0.2rem;
    border-bottom: 0px transparent;
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.25s,
        border-bottom 0.25s ease;
}

a.md-tabs__link.md-tabs__link--active {
    color: inherit;
    display: block;
    content: '';
    opacity: 1;
    border-bottom: 2px var(--md-accent-fg-color);
    padding-bottom: 1em;
}
a.md-tabs__link.md-tabs__link--active:after {
    display: block;
    content: '';
    border-bottom: 2px solid;
    padding-bottom: 1em;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}

.md-tabs__link:after {
    display: block;
    content: '';
    border-bottom: 2px solid;
    padding-bottom: 1em;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.md-tabs__link:hover:after {
    transform: scaleX(1);
}

/* DISABLE GIT REPO PREVIEW */

.md-header__source {
    display: none;
}

.md-nav__source {
    display: none;
}

/* TABLES */

.txt-background {
    background-color: #b71c1c;
    border-radius: 20px;
    padding: 0.3em;
}
th,
td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.md-typeset__table table:not([class]) {
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
}

/* VIDEOS */

video {
    width: 100%;
}

/* AUTHORS */

.metadata {
    margin-top: 0.25em;
}

.contributor {
    opacity: 1;
    font-size: 95%;
}

.contributors-text {
    opacity: 0.75;
    font-size: 80%;
}

.page-metadata .contributors {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

.page-metadata .contributors li {
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.md-typeset :is(.emojione, .twemoji, .gemoji) svg {
    fill: currentcolor;
    max-height: 100%;
    width: 1em;
}

/* ANIMATIONS */

.slide-fadein {
  animation: slidefadein 0.15s;
}
.slide-fadeout {
animation: slidefadeout 0.15s;
}

@keyframes slidefadein {
  from {
      opacity: 0;
      margin-bottom: -1em;
  }
  to {
      opacity: 1;
      margin-bottom: 0em;
  }
}
@keyframes slidefadeout {
from {
    opacity: 1;
    margin-bottom: 0em;
}
to {
    opacity: 0;
    margin-bottom: -1em;
}
}