name: pull-request-build-check
on:
  pull_request:
    paths:
      - hedgedocs/**
    branches: 
      - main

env:
  ENABLE_GIT_PLUGINS: False

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: pip install mkdocs-git-revision-date-localized-plugin
      - run: pip install lxml
      - run: pip install git+https://github.com/PTKickass/mkdocs-git-committers-plugin-2
      - run: mkdocs build -s -v
      - uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "/home/runner/work/HedgeDocs.github.io/HedgeDocs.github.io/site/start-local-server.bat"
          FILE_DATA: "npx browser-sync start --server"
      - uses: actions/upload-artifact@v3
        with:
          name: static-website
          path: /home/runner/work/HedgeDocs.github.io/HedgeDocs.github.io/site
